<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <router-outlet></router-outlet>
  <div>
    <h2>Check out the project on GitHub for more information</h2>
  </div>

  <div class="post-request-test">
    <h3>Test Post Request</h3>
    <button (click)="postData()">ClickMe :)</button>
    <ul>
      <li *ngFor="let item of postRequestResponse">
        <h5>{{item}}</h5>
      </li>
    </ul>
  </div>
</div>
